html {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img {
    max-width: 50%;
    height: auto;
}
.footer-quote {
    text-align: center;
}

main {
    flex: 1;
    display: block;
    max-width: fit-content;
    margin: auto;
}